*{
font-family: 'Roboto', sans-serif;
}
body{
    margin: 0 auto;
    padding: 0;
    height: fit-content;
}
.titlu::selection{
    color:white;
    background: orange;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0 auto;
}
.menu{
    display: flex;
}
.head-bar{
    padding-top: 20px;
    margin-bottom: 15px;
    height: 60px;
    width: 100%;
    background: linear-gradient(to left, #f7971e, #ffd200); 
    display: flex;
    justify-content: flex-end;
    column-gap: 0px;
    z-index: 1;

}

.telephone,.email{
    display: inline;
    padding: 0px 10px;
    font-size: 16px;

}
.nav-bar{
    display: inline;
    padding: 0 10px;
    font-size: 16px;
}
.nav-bar:first-child{
    margin-right: 650px;
}
.logo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;

}
.image-description{
    background: white;
    margin-top: -50px;
    width: 100%;
    height: 700px;
}

.parteneri{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parteneri li{
    font-size: 40px;
    font-weight: bold;
}
.parteneri a{
    color: chartreuse;
}


.image-description-4 div{
    margin-left: 10% ;
    
}
.section-acasa-1{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.line{
    width: 78%;
    border: 2px solid black;
    border-radius: 1px;
    margin-top: 25px ;
    margin-bottom: 25px ;
}

.titlu{
    text-shadow: 10px 10px 10px gray;
    text-transform: uppercase;
}
.nav-bar:hover{
    color:greenyellow
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-min{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    transition: 1s;
}
.container-min:hover{
    background:linear-gradient(to left, #f7971e, #ffd200); ;
    color: white;
}
.titlu::after{
    content: ":)";
}
